.computer_block{
    display: flex;
    position: relative;

    .zero1{
        width: 110px;
        height: 160px;
        background: url(images/cards/reverseSide.jpg) center center/contain no-repeat;
    }

    .zero2{
        width: 110px;
        height: 160px;
        background: url(images/cards/reverseSide.jpg) center center/contain no-repeat;
        position: absolute;
        left: 70px;
    }

    .zero3{
        width: 110px;
        height: 160px;
        background: url(images/cards/reverseSide.jpg) center center/contain no-repeat;
        position: absolute;
        left: 140px;
    }

    .zero4{
        width: 110px;
        height: 160px;
        background: url(images/cards/reverseSide.jpg) center center/contain no-repeat;
        position: absolute;
        left: 210px;
    }

    .zero5{
        width: 110px;
        height: 160px;
        background: url(images/cards/reverseSide.jpg) center center/contain no-repeat;
        position: absolute;
        left: 280px;
    }

    .zero6{
        width: 110px;
        height: 160px;
        background: url(images/cards/reverseSide.jpg) center center/contain no-repeat;
        position: absolute;
        left: 350px;
    }
}



.player_block {
    display: flex;
    position: relative;
    margin: 90px 0;


    .card_player{
        cursor: pointer;
        width: 110px;
        height: 160px;
        background: center center/contain no-repeat;
    }

    .card1 {
        position: absolute;
        left: 0;

        &:hover {
            top: -15px;
        }
    }

    .card2 {
        position: absolute;
        left: 70px;

        &:hover {
            top: -15px;
        }
    }

    .card3 {
        position: absolute;
        left: 140px;

        &:hover {
            top: -15px;
        }
    }

    .card4 {
        position: absolute;
        left: 210px;

        &:hover {
            top: -15px;
        }
    }

    .card5 {
        position: absolute;
        left: 280px;

        &:hover {
            top: -15px;
        }
    }

    .card6 {
        position: absolute;
        left: 350px;

        &:hover {
            top: -15px;
        }
    }
}

.game_block{
    height: 150px;
    margin-top: 60px;

    .koloda{
        position: relative;
    
        .card_kozir {
            position: absolute;
            left: 0;
            width: 110px;
            height: 160px;
            background: center center/contain no-repeat;
        }
    
        .all_cards{
            z-index: 1;
            position: absolute;
            left: 70px;
            width: 110px;
            height: 160px;
            background: url(images/cards/reverseSide.jpg) center center/contain no-repeat;
        }
    }
}