.computer_block{
    display: flex;

    .card1{
        width: 200px;
        height: 400px;
        background: url('images/cards/1_1.jpg') center center / contain no-repeat;
    }
    
    .card2{
        width: 200px;
        height: 400px;
        background: url('images/cards/1_1.jpg') center center / contain no-repeat;
    }
    
    .card3{
        width: 200px;
        height: 400px;
        background: url('images/cards/1_1.jpg') center center / contain no-repeat;
    }
    
    .card4{
        width: 200px;
        height: 400px;
        background: url('images/cards/1_1.jpg') center center / contain no-repeat;
    }
}