@mixin show_card_in_computer_block($picture, $height, $width, $left, $value) {
    background: url($picture) center center/contain no-repeat;
    height: $height;
    width: $width;
    left: $left;
    z-index: $value;
}

@mixin show_card_in_player_block($left, $value) {
    position: absolute;
    left: $left;
    z-index: $value;

    &:hover {
        top: -15px;
    }
}




.computer_block {
    display: flex;
    position: relative;

    .zero1 {
        @include show_card_in_computer_block('images/cards/reverseSide.jpg', 160px, 110px, 0, 1);
    }

    .zero2 {
        @include show_card_in_computer_block('images/cards/reverseSide.jpg', 160px, 110px, 70px, 2);
        position: absolute;
    }

    .zero3 {
        @include show_card_in_computer_block('images/cards/reverseSide.jpg', 160px, 110px, 140px, 3);
        position: absolute;
    }

    .zero4 {
        @include show_card_in_computer_block('images/cards/reverseSide.jpg', 160px, 110px, 210px, 4);
        position: absolute;
    }

    .zero5 {
        @include show_card_in_computer_block('images/cards/reverseSide.jpg', 160px, 110px, 280px, 5);
        position: absolute;
    }

    .zero6 {
        @include show_card_in_computer_block('images/cards/reverseSide.jpg', 160px, 110px, 350px, 6);
        position: absolute;
    }

    .zero7 {
        @include show_card_in_computer_block('images/cards/reverseSide.jpg', 160px, 110px, 420px, 7);
        position: absolute;
    }

    .zero8 {
        @include show_card_in_computer_block('images/cards/reverseSide.jpg', 160px, 110px, 490px, 8);
        position: absolute;
    }

    .zero9 {
        @include show_card_in_computer_block('images/cards/reverseSide.jpg', 160px, 110px, 560px, 9);
        position: absolute;
    }

    .zero10 {
        @include show_card_in_computer_block('images/cards/reverseSide.jpg', 160px, 110px, 630px, 10);
        position: absolute;
    }

    .zero11 {
        @include show_card_in_computer_block('images/cards/reverseSide.jpg', 160px, 110px, 700px, 11);
        position: absolute;
    }

    .zero12 {
        @include show_card_in_computer_block('images/cards/reverseSide.jpg', 160px, 110px, 770px, 12);
        position: absolute;
    }

    .zero13 {
        @include show_card_in_computer_block('images/cards/reverseSide.jpg', 160px, 110px, 840px, 13);
        position: absolute;
    }

    .zero14 {
        @include show_card_in_computer_block('images/cards/reverseSide.jpg', 160px, 110px, 910px, 14);
        position: absolute;
    }

    .zero15 {
        @include show_card_in_computer_block('images/cards/reverseSide.jpg', 160px, 110px, 980px, 15);
        position: absolute;
    }
}

.player_block {
    display: flex;
    position: relative;
    margin: 90px 0;


    .card_player {
        cursor: pointer;
        width: 110px;
        height: 160px;
        background: center center/contain no-repeat;
    }

    .card1 {
        @include show_card_in_player_block(0, 1);
    }

    .card2 {
        @include show_card_in_player_block(70px, 2);
    }

    .card3 {
        @include show_card_in_player_block(140px, 3);
    }

    .card4 {
        @include show_card_in_player_block(210px, 4);
    }

    .card5 {
        @include show_card_in_player_block(280px, 5);
    }

    .card6 {
        @include show_card_in_player_block(350px, 6);
    }
}

.game_block {
    height: 150px;
    margin-top: 60px;

    .table_game {
        position: relative;
        max-width: 800px;
        width: 800px;

        .beat1 {
            position: absolute;
            background: center center/contain no-repeat;
            height: 120px;
            width: 80px;
            left: 0;
        }

        .recapture1 {
            position: absolute;
            background: center center/contain no-repeat;
            height: 120px;
            width: 80px;
            left: 40px;
            z-index: 1;
        }

        .beat2 {
            position: absolute;
            background: center center/contain no-repeat;
            height: 120px;
            width: 80px;
            left: 121px;
            z-index: 2;
        }

        .recapture2 {
            position: absolute;
            background: center center/contain no-repeat;
            height: 120px;
            width: 80px;
            left: 161px;
            z-index: 3;
        }

        .beat3 {
            position: absolute;
            background: center center/contain no-repeat;
            height: 120px;
            width: 80px;
            left: 242px;
            z-index: 4;
        }

        .recapture3 {
            position: absolute;
            background: center center/contain no-repeat;
            height: 120px;
            width: 80px;
            left: 282px;
            z-index: 5;
        }

        .beat4 {
            position: absolute;
            background: center center/contain no-repeat;
            height: 120px;
            width: 80px;
            left: 363px;
            z-index: 6;
        }

        .recapture4 {
            position: absolute;
            background: center center/contain no-repeat;
            height: 120px;
            width: 80px;
            left: 403px;
            z-index: 7;
        }

        .beat5 {
            position: absolute;
            background: center center/contain no-repeat;
            height: 120px;
            width: 80px;
            left: 484px;
            z-index: 8;
        }

        .recapture5 {
            position: absolute;
            background: center center/contain no-repeat;
            height: 120px;
            width: 80px;
            left: 524px;
            z-index: 9;
        }

        .beat6 {
            position: absolute;
            background: center center/contain no-repeat;
            height: 120px;
            width: 80px;
            left: 605px;
            z-index: 10;
        }

        .recapture6 {
            position: absolute;
            background: center center/contain no-repeat;
            height: 120px;
            width: 80px;
            left: 645px;
            z-index: 11;
        }
    }

    .koloda {
        position: relative;
        width: auto;

        .controlGame{
            display: none;
        }

        .card_kozir {
            position: absolute;
            left: 0;
            width: 110px;
            height: 160px;
            background: center center/contain no-repeat;
        }

        .all_cards {
            z-index: 1;
            position: absolute;
            left: 70px;
            width: 114px;
            height: 162px;
            background: url(images/cards/reverseSide.jpg) center center/contain no-repeat;
        }
    }
}